In [2]:
import pandas as pd

## unique

In [15]:
df=pd.DataFrame({'A':[1,1,3,2,6,2,8]})
a=df['A'].unique()
print(sorted(a))

[1, 2, 3, 6, 8]

## loc vs iloc

- loc gets rows (and/or columns) with a particular labels
- iloc gets rows (and/or columns) at integer locations

In [13]:
s=pd.Series(list("abcdef"),index=[49,48,47,0,1,2])
print(s.head(6))

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [12]:
print(s.loc[2]) #value 

print(s.iloc[0]) #gets the value at index location 0

f
a

## explode
convert each element of the specified column(s) into row

In [7]:

data={
    "Brand": ["Ford","Ford","Ford"],
    "Model": ["Sierra","F-150","Mustang"],
    "Type": ["2.0GL","Raptor",["Mach-E","Mach-1"]]
}

df=pd.DataFrame(data)
new_df=df.explode("Type")  #turn every element in the 'Type' column into a row

new_df.head()

  Brand    Model    Type
0  Ford   Sierra   2.0GL
1  Ford    F-150  Raptor
2  Ford  Mustang  Mach-E
2  Ford  Mustang  Mach-1

## apply
allows to apply a fucntion along one of the axis of the Df, default 0 i.e index(row) axis

In [8]:
def calc_sum(x):
    return x.sum()

data={
    "x":[50,40,30],
    "y":[300,112,23]
}

df=pd.DataFrame(data)
x=df.apply(calc_sum)


print(x)

x    120
y    435
dtype: int64