In [2]:
import pandas as pd

## Selecting row based on some criteria

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['NY', 'LA', 'SF']}
df = pd.DataFrame(data)
# Select rows where City is 'NY'
ny_rows = df[df['City'] == 'NY']
print(ny_rows['Age'].values[0])

In [2]:
import tensorflow as tf

for gpu in tf.config.list_physical_devices('GPU'):
    print("GPU Device:", gpu)

GPU Device: PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

2025-03-28 11:17:16.690154: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2025-03-28 11:17:16.811258: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2025-03-28 11:17:16.811529: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero

## Count isna for columns

In [ ]:
df.isna().sum()


# delete those columns 
df.dropna()

## unique

In [15]:
df=pd.DataFrame({'A':[1,1,3,2,6,2,8]})
a=df['A'].unique()
print(sorted(a))

[1, 2, 3, 6, 8]

## loc vs iloc

- loc gets rows (and/or columns) with a particular labels
- iloc gets rows (and/or columns) at integer locations

In [13]:
s=pd.Series(list("abcdef"),index=[49,48,47,0,1,2])
print(s.head(6))

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [12]:
print(s.loc[2]) #value 

print(s.iloc[0]) #gets the value at index location 0

f
a

## explode
convert each element of the specified column(s) into row

In [7]:

data={
    "Brand": ["Ford","Ford","Ford"],
    "Model": ["Sierra","F-150","Mustang"],
    "Type": ["2.0GL","Raptor",["Mach-E","Mach-1"]]
}

df=pd.DataFrame(data)
new_df=df.explode("Type")  #turn every element in the 'Type' column into a row

new_df.head()

  Brand    Model    Type
0  Ford   Sierra   2.0GL
1  Ford    F-150  Raptor
2  Ford  Mustang  Mach-E
2  Ford  Mustang  Mach-1

## apply
allows to apply a fucntion along one of the axis of the Df, default 0 i.e index(row) axis

In [8]:
def calc_sum(x):
    return x.sum()

data={
    "x":[50,40,30],
    "y":[300,112,23]
}

df=pd.DataFrame(data)
x=df.apply(calc_sum)


print(x)

x    120
y    435
dtype: int64

## reset_index
used to reset the index of a DataFrame to the default integer-based index. This is especially useful when you've performed operations like groupby() or pivot_table(), which result in a DataFrame with a multi-level index.

Usefull as it easier to access and use the columns in plotting functions.

In [1]:
import pandas as pd

# Sample DataFrame
data = {'Pclass': [1, 2, 1, 3, 3],
        'Sex': ['male', 'female', 'female', 'male', 'female'],
        'Survived': [1, 0, 1, 0, 1]}

df = pd.DataFrame(data)

# Group by Pclass and Sex, and aggregate by survival count
grouped_data = df.groupby(['Pclass', 'Sex', 'Survived']).size()

print("Before reset_index():")
print(grouped_data)

# Reset the index
reset_data = grouped_data.reset_index()

print("\nAfter reset_index():")
print(reset_data)

Before reset_index():
Pclass  Sex     Survived
1       female  1           1
        male    1           1
2       female  0           1
3       female  1           1
        male    0           1
dtype: int64

After reset_index():
   Pclass     Sex  Survived  0
0       1  female         1  1
1       1    male         1  1
2       2  female         0  1
3       3  female         1  1
4       3    male         0  1

# rename

In [1]:
import pandas as pd

df=pd.DataFrame({'A':[1,2,3],'B':[2,3,5],'C':[7,8,9]})
df=df.rename(columns={
    'A':'Alpha',
    'B':'Beta'
})

print(df.head())

   Alpha  Beta  C
0      1     2  7
1      2     3  8
2      3     5  9

# datatypes of columns

In [3]:
print(df.dtypes)

Alpha    int64
Beta     int64
C        int64
dtype: object